[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "safetyData"]
	path = safetyData
	url = https://github.com/cran/safetyData
[submodule "volcanoPlot"]
	path = volcanoPlot
	url = https://github.com/cran/volcanoPlot
